# MariaDB
MARIADB_HOST=127.0.0.1
MARIADB_PORT=3306
MARIADB_USER=root
MARIADB_PASSWORD=
MARIADB_DATABASE=bdweb

# DB 초기화 (false: 기존 데이터 유지 / true: 시작 시 테이블 재생성)
DB_RESET=false

# 서버
PORT=3001
SITE_DOMAIN=http://localhost:3001
BASE_PATH=/bdweb
SESSION_SECRET=
