<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Security"> 
  	
  	
  	<select id="getSqlRolesAndUrl" resultType="hashmap">
  		SELECT URL,AUTHORITY 
	    FROM ( 
	         SELECT    A.USR_ORDER AS LEV 
	               , NVL( 
	                  CASE D.MN_PAGEDIV_C 
	                     WHEN 'SC_QXCFB' THEN CONCAT(D.MN_URL,'/**') 
	                     ELSE D.MN_URL 
	                  END , A.USR_PATTERN) AS URL 
	               , C.UIA_NAME AS AUTHORITY 
	         FROM u_userinfo_secured_resource A  
	         LEFT JOIN u_userinfo_resource_authority B 
	         ON         A.USR_KEYNO = B.USR_KEYNO 
	         LEFT JOIN u_userinfo_authority C 
	         ON          B.UIA_KEYNO = C.UIA_KEYNO  
	         LEFT JOIN s_menu_manager D 
	         ON         A.USR_MN_KEYNO = D.MN_KEYNO  
	         WHERE       A.USR_KEYNO = B.USR_KEYNO 
	         AND       (D.MN_DEL_YN IS NULL OR D.MN_DEL_YN = 'N') 
	         AND         A.USR_UIR_KEYNO = 'UIR_0000000019' 
	         ORDER BY    A.USR_ORDER 
	    ) AA 
	    WHERE AA.URL IS NOT NULL 
	    ORDER BY LEV, URL
  	</select>
  	
	
</mapper>
 