<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">
	
	<welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:config/spring/context-*.xml</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<listener>
	    <listener-class>com.tx.common.config.session.CustomSessionListener</listener-class>
	</listener>
	<listener>
	    <listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
	</listener>
	<!-- Processes application requests -->
	<servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>
                /WEB-INF/config/*-servlet.xml 
            </param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
	        <servlet-name>action</servlet-name>
	        <url-pattern>*.do</url-pattern>
	</servlet-mapping>

  	<filter>
	    <filter-name>encodingFilter</filter-name>
	<filter-class>
	        org.springframework.web.filter.CharacterEncodingFilter
	</filter-class>
	<init-param>
	    <param-name>encoding</param-name>
	    <param-value>utf-8</param-value>
	</init-param>
	<init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
	</filter>
	<filter-mapping>
	    <filter-name>encodingFilter</filter-name>
	<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- <filter>
		<filter-name>xssEscapeServletFilter</filter-name>
		<filter-class>com.navercorp.lucy.security.xss.servletfilter.XssEscapeServletFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>xssEscapeServletFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping> -->
	
	
  	
  	
  	<filter>
	  <filter-name>deviceResolverRequestFilter</filter-name>
	  <filter-class>org.springframework.mobile.device.DeviceResolverRequestFilter</filter-class>
	</filter>
	<filter-mapping>
	  <filter-name>deviceResolverRequestFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping> 
  
  	
  	<filter>
	    <filter-name>CustomWebInvocationPrivilegeEvaluatorProvideFilter</filter-name>
	    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	    <init-param>
	        <param-name>targetBeanName</param-name>
	        <param-value>customWebInvocationPrivilegeEvaluatorProvideFilter</param-value>
	    </init-param>
	</filter>
	<filter-mapping>
	    <filter-name>CustomWebInvocationPrivilegeEvaluatorProvideFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
  	<filter>
	    <filter-name>MultipartFilter</filter-name>
	    <filter-class>org.springframework.web.multipart.support.MultipartFilter</filter-class>
	</filter>
	<filter>
	    <filter-name>springSecurityFilterChain</filter-name>
	    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>MultipartFilter</filter-name>
	    <servlet-name>/*</servlet-name>
	</filter-mapping>
	<filter-mapping>
	    <filter-name>springSecurityFilterChain</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>httpHeaderSecurity</filter-name>
		<filter-class>org.apache.catalina.filters.HttpHeaderSecurityFilter</filter-class>
		<init-param>
			<param-name>antiClickJackingOption</param-name>
			<param-value>SAMEORIGIN</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>httpHeaderSecurity</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
   
<!-- 	<security-constraint>
	    <web-resource-collection>
	        <web-resource-name>SSL Forward</web-resource-name>
	        <url-pattern>*.do</url-pattern>
	    </web-resource-collection>
	    <user-data-constraint>
	        <transport-guarantee>CONFIDENTIAL</transport-guarantee>
	    </user-data-constraint>
	</security-constraint> -->
    
    <session-config>
	  <!-- Disables URL-based sessions (no more 'jsessionid' in the URL using Tomcat) -->
	  <session-timeout>30</session-timeout>
	  <tracking-mode>COOKIE</tracking-mode>
	</session-config>
	
	<!--  에러 처리 -->
 	
 	 
 	
	<error-page> 
		<error-code>500</error-code>
		<location>/error.do</location>
	</error-page> 
	<error-page> 
		<error-code>400</error-code>
		<location>/error.do</location>
	</error-page>
    <error-page> 
        <error-code>403</error-code>
        <location>/error.do</location>
	</error-page> 
	<error-page> 
		<error-code>404</error-code>
		<location>/error.do</location>
	</error-page>
	
	<error-page>
    	<exception-type>java.lang.Throwable</exception-type>
    	<location>/error.do</location>
	</error-page>

</web-app>
